* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
  }
  
  /*--------------------*/

  @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap');






main{
    background-image: url('../IMG/bgmain.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
} 

.menu {
z-index: 1200;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transform: translateY(-300px);
display: none;
background-color: rgb(232, 255, 128);
position: relative;

    &__close {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 32px;
        height: 32px;
        cursor: pointer; 
    }

    &__close:before, &__close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    &__close:before {
        transform: rotate(45deg);
    }

    &__close:after {
        transform: rotate(-45deg);
    } 
    &__item {
        padding: 20px;
        font-size: 16px;
        font-family: Arimo;
    }
}

.abc {
    display: flex;
    position: fixed;
    height: 30%;
    width: 100%;
    animation: menu linear 0.5s forwards;

    @keyframes menu {
        100% {
            transform: translateY(0px); 
        }
    }
}

.cba {
    animation: closeMenu linear 0.5s forwards;

    @keyframes closeMenu {
    0% {
        transform: translateY(0px); 
    }

    100% {
        transform: translateY(-500px); 
    }
    } 
}

.burger {
    display: none;
    &__title {
        display: inline-block;
        position: relative;
        font-family: Comfortaa;
        cursor: pointer;
        font-weight: bold;
        font-size: 1em;
        margin: 20px 0 0 20px;
        font-size: 16px;
    }

    &__title::before {
        content: '';
        display: block;
        width: 15px;
        height: 3px;
        background-color: rgb(0, 0, 0);
        position: absolute;
        left: -20px;
        top: 5px;
        box-shadow: 0 6px rgb(0, 0, 0), 0 -6px rgb(0, 0, 0);
    }
}

.header {
    background-color: rgba(250, 250, 250, 0.85);
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    &__buy{
        position: relative;
        position: absolute;
        cursor: pointer;
        right: 40px;
        
        
    }

    &__counter {
        background-color: red;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        right: -50%;
        top: -30%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        display: none;
        
        
    }

    &__logo {
        background-image: url('../IMG/photo.svg');
        background-repeat: no-repeat;
        background-size: 100px auto;
        width: 100px;
        height: 70px;
        position: absolute;
        top: 50%;
        left: 5%;
        

    }
    &__item {
        margin: 0 50px;
        font-family: Comfortaa;
        cursor: pointer;
        font-weight: bold;
        font-size: 1em;
    }

    
}

.welcome {
    position: absolute;
    top: 60%;
    left: 0;
    height: 40%;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    &__logo {
        background-image: url('../IMG/photo.svg');
        background-repeat: no-repeat;
        background-size: 150px 120px;
        width: 150px;
        height: 120px;
        margin-top: -60px;
    }

    &__title {
        font-size: 3.5em;
        font-family: 'Comfortaa';
        text-align: center;
        color: rgb(72, 73, 10);
    }

    &__subtitle {
        width: 25%;
        text-align: center;
        margin-top: 20px;
        font-family: 'Arimo';
        line-height: 18px;
        color: rgb(70, 70, 59);
    }
    
}

.about {
    height: 600px;
    background-color: rgb(248, 248, 234);
    overflow: hidden;

    &__wrapper {
        display: flex;
        height: 100%;
        
    }

    &__text {
        flex: 1 1 50%;
        position: relative;

    }
    &__info {
        position: absolute;
        top: 40%;
        left: 15%;
    }

    &__title {
        
        font-size: 1.5em;
        padding-right: 15%;
        color: gray;
        font-family: 'Times New Roman', Times, serif;
        line-height: 26px;
    }

    &__title-bold {
        font-size: 36px;
        font-weight: bold;
        color: rgb(80, 14, 17);
    }
    

    &__link {
        padding-top: 20px;
        color: gray;
        font-family: 'Comfortaa';
        transition: .2s ease-in-out;
        
    }

   
    
    &__link:hover {
        color: orange;
        cursor: pointer;
    }

    &__link::after {
        content: '→';
        margin-left: 6px;
        
    }

    &__img {
        flex: 1 1 50%;
        position: relative;
    }
}

.circle {
    margin-top: 30px;
}
.circle img{
    max-width: 100%;
    object-fit: cover;
}
.women {
    position: absolute;
    left: 20%;
    top: 17%;
}
.women img{
    max-width: 100%;
    object-fit: cover;
}



.products {

    &__title {
        font-size: 28px;
        font-weight: bold;
        margin: 70px 80px 0;
    }
    &__title::before{
        content: '';
        background-image: url('../IMG/kolos.svg');
        background-repeat: no-repeat;
        background-size: 50px 60px;
        width: 100%;
        height: 100%;
        padding: 30px 0px 30px 45px;
    }


    &__wrapper {
        margin: 0px 80px;
    }

    &__couple {
        display: flex;
        margin-top: 20px;
        align-items: center;
    }

    &__text {
        flex: 1 1 60%;
    }

    &__subtitle {
        color: rgb(236, 195, 15);
        font-size: 30px;
        font-weight: bold;
    }

    &__subtext {
        font-size: 20px;
        padding: 0 15px 0 0;
        margin-top: 20px;
        color: grey;
    }

    &__img {
        flex: 1 1 40%;
    }

    &__img img{
        max-width: 100%;
    }

    &__text-eggs {
        padding-left: 30px;
    }

}

.sale {
    padding-bottom: 5%;
    background-color: rgba(233, 241, 188, 0.281);
    &__title {
        text-align: center;
        font-size: 36px;
        font-family: Comfortaa;
        padding-top: 50px;
        font-weight: bold;
        color: rgb(146, 146, 108);

    }

    &__wrapper {
        margin: 50px 50px 0;
        display: flex;
        justify-content: space-between;
        
    }

    &__subtitle {
        color: rgb(80, 72, 56);
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        margin: 50px 0;
        font-family: Comfortaa;
        
    }
}
.item {
    padding-bottom: 20px;
    &__img{
      text-align: center;
    }

    &__img img{
        width: 300px;
        max-width: 100%;
        object-fit: cover;
        padding: 10px;
        
    }

    &__name {
        margin: 30px 0;
        font-size: 20px;
        text-align: center;
        font-family: Comfortaa;
        color: rgb(80, 72, 56);
        max-width: 300px;
        margin: 30px auto 30px;
    }

    &__description{
        font-size: 16px;
        line-height: 24px;
        padding: 0 20px;
        font-family: Comfortaa;
        text-align: center;
        color: rgb(80, 72, 56);
        max-width: 300px;
    }

    &__price {
        margin: 30px 0;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        font-family: Comfortaa;
        color: rgb(80, 72, 56);
    }

    &__button {
        color: rgb(80, 72, 56);
        text-align: center;
        font-family: Comfortaa;
        font-style: italic;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        border-radius: 25px;
        width: 60%;
        margin: 0px auto;
        background-color: rgba(219, 235, 150, 0.61);
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }
    &__button:hover{
        background-color: rgba(208, 250, 24, 0.8);
        cursor: pointer;
    }

}

.footer {
    
    background-image: url('../IMG/bgfooter.png');
    padding: 40px;
    &__contacts {
        background-color: rgb(75, 66, 66);
        text-align: center;
        line-height: 38px;
        font-size: 24px;
        color:rgb(255, 255, 255);
        padding: 30px;
        font-family: Comfortaa;
        width: 50%;
        margin: 0px auto;
    }

    &__adress {
        padding: 20px 0;
    }

    &__phone {
        padding: 20px 0;
    }

    &__button {
        margin-top: 80px;
        margin: 80px auto 0;
        width: 200px;
        padding: 25px;
        border-radius: 50px;
        background-color: rgb(255, 199, 199);
        cursor: pointer;
        background-color: rgba(219, 235, 150, 0.61);
        transition-duration: 0.5s;
        transition-timing-function: linear;
        color: rgb(80, 72, 56);
    }
    
    &__button:hover{
        background-color: rgba(208, 250, 24, 0.8);
        cursor: pointer;
    }
}

.info {
height: 20%;
background-color: gray;
text-align: center;
color: rgb(218, 218, 218);
    &__name {
        padding: 40px;
    }

    
}



.buy{
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 1); 
    position: fixed;
    display: none;
    z-index: 100; 
    left: 15%;
    top: 10%;
    width: 70%;
    height: 80%;
    overflow: scroll;
    padding-top: 40px;
    
    &__close {
        position: absolute;
        right: 15px;
        top: 8px;
        width: 32px;
        height: 32px;
        cursor: pointer; 
    }

    &__close:before, &__close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    &__close:before {
        transform: rotate(45deg);
    }

    &__close:after {
        transform: rotate(-45deg);
    } 

    &__text {
        font-size: 32px;
        text-align: center;
        margin-top: 15%;
        font-family: Comfortaa;
    }

    &__text::after {
        display: block;
        content: '';
        background-image: url('../IMG/smail.svg');
        background-size: contain;
        margin: 25px auto 0;
        width: 100px;
        height: 100px;
    }

    &__wrapper {
        margin: 20px 0;
        padding: 0 20px;
        display: flex;
        align-items: center;
    }

    &__img {
        width: 150px;
        height: auto;
    }

    &__name {
        font-size: 24px;
        padding: 0 20px;
        width: 200px;
    }

    &__price {
        font-size: 24px;
        width: 200px;
    }

    &__amount {
        font-size: 24px;
        width: 40px;
        height: 40px;
        background-color: rgb(190, 190, 190);
        text-align: center;
    }
    
    &__delete {
        background-image: url('../IMG/musorka.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position:center;
        align-items: center;
        margin-left: 10px;
        width: 35px;
        height: 35px;
    
    }
    
    &__delete:hover {
        cursor: pointer;
    }

    &__arrUp{
        width: 40px;
        height: 40px;
        background-color: rgb(204, 200, 200);
        text-align: center;
        transform: rotate(-90deg);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;   
    }
    
    &__arrDown{
        width: 40px;
        height: 40px;
        background-color: rgb(204, 200, 200);
        text-align: center;
        transform: rotate(90deg);
        font-size: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__arrUp:hover, &__arrDown:hover {
        cursor: pointer;
    }

    &__fullprice {
        font-size: 24px;
        padding-left: 20px;
        width: 250px;
    }

    &__cart {
        display: block;
        font-family: Comfortaa;
        width: 250px;
        text-align: center;
        margin: 0px auto 15px;
        font-size: 18px;
        padding: 20px;
        border: 3px solid green;
        background-color: rgb(219, 255, 219);
        border-radius: 50px;
        box-shadow: 5px 5px rgba(151, 153, 151, 0.411);;
        transition: linear 0.4s;
        cursor: pointer;
    }
    
    &__cart-hover {
        background-color: rgba(0, 219, 0, 0.507);
        transform: translate(5px, 5px);
        box-shadow: none; 
    }

    &__agreement{
        position: absolute;
        color: black;
        width: 100%;
        height: 100%;
        background-color:  rgb(194, 194, 174);;
        z-index: 200;
        left: 0;
        top: 0;
        padding: 0 10%;
        text-align: center;
        font-size: 24px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .buy__close2{
        cursor: pointer;
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
    }

    
    
    .buy__close2:before, .buy__close2:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    .buy__close2:before {
        transform: rotate(45deg);
    }

    .buy__close2:after {
        transform: rotate(-45deg);
    } 

    .buy__lasttext {
        padding: 10px;
    }
    &__buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 20%;
        width: 300px;
        
        .buy__ok {
            
            background-color: rgb(255, 219, 166);
            cursor: pointer;
            padding: 20px;
            display: block;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 50%;
            width: 80px;
            text-align: center;
        }

        .buy__no {
            
            background-color: rgb(255, 219, 166);
            cursor: pointer;
            padding: 20px;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 50%;
            width: 80px;
            text-align: center;
        }
    }

	&__phone {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(194, 194, 174);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
        color: #000;
    }

	&__phonetext {
        font-size: 22px;
        font-family: Arimo;
        
	}
    &__phone form {
        display: flex;
        flex-direction: column;
        font-family: Comfortaa;
    }
	&__inputphone {
        margin: 20px auto 0;
        height: 80px;
        width: 250px;
        font-size: 24px;
        border-radius: 50px;
        padding-left: 25px;   
	}

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        display: none;
    }

    &__inputphone:focus {
        border: 2px solid aqua;
    }

    .buy__erorr{
        color: red;
        font-size: 16px;
        margin: 10px 0;
        width: 300px;
    }

	&__inputbtn {
        width: 200px;
        height: 70px;
        text-align: center;
        margin: 0px auto;
        font-size: 20px;
        font-style: italic;
    }
}

.parting {
    position: fixed;
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    background-color: rgb(194, 194, 175);
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;

    &__text {
        text-align: center;
        font-size: 18px;
        font-family: Comfortaa;
        padding: 15px;
        line-height: 26px;
        letter-spacing: 2px;
    }
    &__img {
        width: 150px;
        height: 150px;
    }
}


@media (max-width: 768px) {
    .parting{
        border-radius: 15px;
    }
    .parting__text {
        font-size: 18px;
        letter-spacing: normal;
        line-height: normal;
    }
    .buy__fullprice{
        font-size: 18px;
    }
    .buy__wrapper form  {
        font-size: 18px;
    }
    .buy__name{
        font-size: 18px;
    }
    .buy__price {
        font-size: 18px;
    }
    
    .buy__cart {
        margin-bottom: 20px;
    }
    .header {
        font-size: 0.7em;
    }
    .header__logo {
        left: 2.5%;
    }
    .welcome {
        font-size: 0.7em;
    }
    .about__text {
        flex: 1 0 40%;
    }
    .about__img {
        flex: 1 0 60%;
    }
    .about__img img {
        max-width: 100%;
        object-fit: cover;
    }
    .sale__wrapper {
        flex-wrap: wrap;
    }
    .products__title::before {
        content: '';
        padding: 0;
    }
    .products {
        padding-bottom: 25px;
    }
    .products__text {
        flex: 0 0 50%;
        
    }
    .products__subtitle {
        font-size: 1.2em;
    }
    .products__subtext {
        font-size: 1.2em;
    }

}

@media (max-width: 700px) {
    .sale__wrapper .item {
        margin: 0px auto;
    }
    .item__img img {
        width: 400px;
    }
    .item__description {
        text-align: center;
        width: 100%;
        margin: 0;
        max-width: 400px;
    }
    .buy__img {
        width: 100px;
    }
}
@media (max-width: 600px) {
    .buy__delete{
        width: 70px;
        height: 70px;
        background-size: 50px 50px;
        background-position: center;
    }
    .buy__img {
        display: none;
    }
    .buy__name{
        padding: 0 5px 0 0 ;
    }
    .footer__contacts {
        width: 100%;
    }
    .header__logo {
        width: 70px;
        background-size:70px auto;
        left: 1%;
    }
}
@media (max-width: 500px) {
    
    .about__img {
        display: none;
    }
    .about {
        height: 70%;
    }
    .header__logo {
        display: none;
    }
    .header__item {
        display: none;
    }
    .header {
        display: block;
        
    }
    .parting__text {
        font-size: 12px;
    }
    .parting__img {
        width: 75px;
        height: 75px;
        letter-spacing: 0;
        line-height: 16px;
    }
    .burger {
        margin-left: 10px ;
        display: block;
    }
    .header__icon {
        margin-top: -22px;
    }
    .products__wrapper {
        margin: 0 20px;
    }
    .products__title {
        margin: 70px 20px 0;
    }
    .welcome {
        font-size: 0.6em;
    }
    .welcome__subtitle {
        width: 70%;
    }
    .buy__cart {
        width: 200px;
        font-size: 14px;
    }
    .buy {
        width: 80%;
        left: 10%;
    }
    .buy__fullprice{
        font-size: 14px;
    }
    .buy__wrapper form  {
        font-size: 14px;
    }
    .buy__name{
        font-size: 14px;
    }
    .buy__price {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .footer__contacts {
        font-size: 1.2em;
    }
    .footer__button {
        width: 170px;
        padding: 15px;
    }
    .info__name {
        padding: 20px;
    }

.parting__text {
    font-size: 12px;
    line-height: normal;
    letter-spacing: normal;
}

.buy__amount {
width: 30px;
height: 30px;

}
.buy__arrUp {
    width: 30px;
    height: 30px;
}
.buy__arrDown {
    width: 30px;
    height: 30px;
}
.buy__delete{
    width: 60px;
    height: 50px;
    background-size: 30px 30px;
    background-position: center;
}
.products__couple {
    flex-direction: column;
}
.products__img {
    order: 1;
}
.products__subtext {
    margin-bottom: 15px;
}
.item__description {
    width: 300px;
    margin: 0px auto;
}
.products__subtext {
    width: 235px;
    padding: 0;
}
.products__title {
    width: 235px;
    margin: 20px auto;
}
.sale__wrapper {
    margin: 10px;
}

.item__img img {
    width: 280px;
    margin: 0px auto;
    text-align: center;
}
.buy {
    width: 85%;
    left: 7.5%; 
}
}

@media (max-height: 400px) {
    .welcome__logo {
        background-size: 60px auto;
        width: 130px;
        height: 70px;
        margin: -30px 0 0;
        background-position: center;
    }
    .info {
        height: 40%;
    }
    .header {
        height: 20%;
    }
}